/* color scheme

black   #000000
white   #FCFBEB
orange  #FFB00D
dorange #FF8926
blue    #1E4363
red     #BC2D19


dark b  #25274D
lighterb#464866
gray    #AAABB8
lightB  #2E9CCA
darkB   #29648A
*/

.selector-for-some-widget {
  box-sizing: content-box;
}

.underimgOr {
    border-radius: 0px 0px 10px 10px;
    border-bottom: 4px solid #f7c47e;
    border-right: 4px solid #f7c47e;
    border-left: 4px solid #f7c47e;
    padding-bottom: 3px;
}

.underimgB {
    border-radius: 0px 0px 10px 10px;
    border-bottom: 4px solid #29648A;
    border-right: 4px solid #29648A;
    border-left: 4px solid #29648A;
    padding-bottom: 3px;
}

.underimgGray {
    border-radius: 0px 0px 10px 10px;
    border-bottom: 4px solid #99a0a8;
    border-right: 4px solid #99a0a8;
    border-left: 4px solid #99a0a8;
    padding-bottom: 3px;
}

.underimgPurp {
    border-radius: 0px 0px 10px 10px;
    border-bottom: 4px solid #464866;
    border-right: 4px solid #464866;
    border-left: 4px solid #464866;
    padding-bottom: 3px;
}

.underimgDBlue {
    border-radius: 0px 0px 10px 10px;
    border-bottom: 4px solid #476aa3;
    border-right: 4px solid #476aa3;
    border-left: 4px solid #476aa3;
    padding-bottom: 3px;
}

.myText {
    color: #4c320e;
    font-size: .9em;
    padding-top: 10px;
}

.my_custom {
    color: #25274D!important;
    font-size: 1.9em;
    
}

.frame {
    height: auto!important;
    text-align: center;
    
}

.myImage {
    display: block!important;
    margin: auto!important;
}

body {
    background-color: white;
}

/*
.mini_desc{
    color: #1E4363;
    font-size: 1.1em;
    font-family: 'Share Tech', sans-serif;
}
*/

.imgFrame {
    position: relative;
    width: 100%;
    display: inline-block;

    
}
span.coverText {
    color: black;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;

}




.imgFrame:hover {

   
}

.bold{
    font-weight: 800;
}

.carousel-control-prev-icon {
    background-color: #25274D;
}

.carousel-control-next-icon {
    background-color: #25274D;
}

.inline {
    display:inline;
}

.siteLink {
    margin-bottom: 20px;
    margin-left: 20px;
}

@media (max-width: 576px) {
    .inline {
    display:block;
    }
    .siteLink {
    margin-bottom: 0px;
    margin-left: 0px;
}
}
}