/* color scheme

black   #000000
white   #FCFBEB
orange  #FFB00D
dorange #FF8926
blue    #1E4363
red     #BC2D19


dark b  #25274D
lighterb#464866
gray    #AAABB8
lightB  #2E9CCA
darkB   #29648A
*/

.selector-for-some-widget {
  box-sizing: content-box;
}


.underimgB {
    border-radius: 0px 0px 0px 0px;
    border-bottom: 4px solid #29648A;
    border-right: 4px solid #29648A;
    border-left: 4px solid #29648A;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    height: 135px;
}

.underimgB:hover {
    border-bottom: 4px solid #68b4e8;
    border-right: 4px solid #68b4e8;
    border-left: 4px solid #68b4e8;
}

.topSpace {
    margin-top: 20px;
}

.myText {
    color: #4c320e;
    font-size: .95em;
    padding-top: 15px;
}

.codeBlock {
    background-color: #f4f4f4;
    height: 100%;
    padding: 20px 20px 0px 20px;
    border: none;
}

.consoleBlock {
    background-color: #303030;
    height: 100%;
    padding: 20px 20px 0px 20px;
}

.my_custom {
    color: #25274D!important;
    font-size: 1.9em;
    
}

.code {
    border: none !important;
    color: white;
    text-align: left;
    font-size: .7em;

}

.frame {
    height: auto!important;
    text-align: center;
    
}

.myImage {
    display: block!important;
    margin: auto!important;
}

.center {
    display: block!important;
    margin: auto!important;
}

body {
    background-color: white;
}

/*
.mini_desc{
    color: #1E4363;
    font-size: 1.1em;
    font-family: 'Share Tech', sans-serif;
}
*/

.imgFrame {
    position: relative;
    width: 100%;
    display: inline-block;

    
}
span.coverText {
    color: black;
    font-size: 1.3em;
    display: inline-block;
    font-weight: 400;
    margin-top: 10px;
}






.bold{
    font-weight: 800;
}

.carousel-control-prev-icon {
    background-color: #25274D;
}

.carousel-control-next-icon {
    background-color: #25274D;
}

.inline {
    display:inline;
}

.siteLink {
    margin-bottom: 20px;
    margin-left: 20px;
}

@media (max-width: 576px) {
    .inline {
    display:block;
    }
    .siteLink {
    margin-bottom: 0px;
    margin-left: 0px;
    }
        
    .underimgB {
    border-radius: 0px 0px 0px 0px;
    border-bottom: 4px solid #29648A;
    border-right: 4px solid #29648A;
    border-left: 4px solid #29648A;
    padding-bottom: 3px;
    padding: 30px;
    height: 185px;
    }
    
    span.coverText {
    color: black;
    font-size: 1.3em;
    display: inline-block;
    font-weight: 400;
    margin-top: -20px;
}

}
}